@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

body {
  font-family: Lato;
  background-color: #3498DB;
  padding: 80px;
  text-align: center;
  color: #fff;
}

ul {
    position: relative;
    top: 50px;
    left: calc(50% - 190px);
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 380px;
    background-color: #f1f1f1;
    background-color: #FFF;
    border-radius: 5px;
}

li a {
    display: block;
    color: #000;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-size: 24px;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #2980b9;
    color: white;
    border-radius: 5px;
}
